<h3>Fornecedor Pessoa Física</h3>

<div>
  <button class="btn btn-danger">Desativar</button>
  <button class="btn">Gravar</button>
  <button class="btn">Fechar</button>
</div>

<div class="row">
  <div class="control-group col-md-3">
    <label>Tipo de Pessoa: </label>
    <input type="text" name="tipo-pessoa" [(ngModel)]="data.Type" class="form-control" />
  </div>
  <div class="control-group col-md-3">
    <label>Nacinal: </label>
    <select [(ngModel)]="IsNational" class="form-control">
      <option value="sim">Sim</option>
      <option value="nao">Não</option>
    </select>
  </div>
  <div class="control-group col-md-3">
    <label>Dt. Últ. Atualização: </label>
    <input type="date" name="date" [(ngModel)]="data.LastUpdateDate" class="form-control" />
  </div>
  <div class="control-group col-md-3">
    <label>Situação: </label>
    <select class="form-control" [(ngModel)]="data.Status">
      <option value="elaboracao">Em Elaboração</option>
      <option value="elaboracao">Ativado</option>
      <option value="elaboracao">Desativado</option>
    </select>
  </div>
</div>
<h3>Detalhes</h3>
<fieldset>
  <div class="row">
    <div class="from-group col-md-3">
      <label>CPF: </label>
      <input type="text" name="cpf" value="" [(ngModel)]="data.Document" class="form-control" />
    </div>
    <div class="from-group col-md-3">
      <label>Nome: </label>
      <input type="text" name="nome" value="" [(ngModel)]="data.Name" class="form-control" />
    </div>    
  </div>
  <div>
    <div class="from-group">
      <label>Estado Civíl</label>
      <select class="form-control" [(ngModel)]="data.MaritalStatus">
        <option value="casado">Casado(a)</option>
        <option value="solteiro">Solteiro(a)</option>
        <option value="divorciado">Divorciado(a)</option>
        <option value="viuvo">Viúvo(a)</option>
      </select>
    </div>
    <div class="from-group">
      <label>Profissão: </label>
      <input type="text" name="profissao" value="" [(ngModel)]="data.Profession" class="form-control" />
    </div>
    <div class="from-group">
      <label>Fone 1</label>
      <input type="tel" name="fone1" value="" class="form-control" />
    </div>
    <div class="from-group">
      <label>Fone 2</label>
      <input type="tel" name="fone2" value="" class="form-control" />
    </div>
    <div class="from-group">
      <label>Fone 3</label>
      <input type="tel" name="fone3" value="" class="form-control" />
    </div>
  </div>
  <div>
    <div class="from-group">
      <label>Tipo de Empresa: </label>
      <input type="text" name="cpf" value="" [(ngModel)]="data.CompanyType" class="form-control" />
    </div>
    <div class="from-group">
      <label>Nacimento: </label>
      <input type="text" name="nacimento" value="" [(ngModel)]="data.BirthDate" class="form-control" />
    </div>
    <div class="from-group">
      <label>Genero: </label>
      <select class="form-control" [ngModel]="data.Gender">
        <option value="masculino">Masculino</option>
        <option value="Feminino">Feminino</option>
        <option value="outros">Outros</option>
      </select>
    </div>
    <div class="from-group">
      <label>Nacionalidade: </label>
      <input type="text" name="nacionalidade" value="" [(ngModel)]="data.Nationality" class="form-control" />
    </div>
  </div>
</fieldset>
