
<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Tipo de Pessoa</th>
      <th>Nacional(C)</th>
      <th>CPF/CNPJ/Inscrição</th>
      <th>Nome/Razão Social</th>          
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of suppliers">
      <td>{{ supplier.id }}</td>
      <td>{{ supplier.type}}</td>
      <td>{{ supplier.isNational }}</td>
      <td>{{ supplier.document }}</td>
      <td>{{ supplier.name }}</td>
    </tr>
  </tbody>
</table>
