<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="forecasts">
  <thead>
    <tr>
      <th>Tipo de Pessoa</th>
      <th>Nacional(C)</th>
      <th>CPF/CNPJ/Inscrição</th>
      <th>Nome/Razão Social</th>
      <th>Porte</th>
      <th>Dt. Últ. Atualização</th>
      <th>Situação</th>
      <th>Nome Fantasia</th>
      <th>Tipo de Empresa</th>
      <th>Fone 1</th>
      <th>Fone 2</th>
      <th>Fone 3</th>
      <th>Porte</th>
      <th>Website</th>
      <th>E-mail Principal</th>
      <th>Caracterização do Capital</th>
      <th>Quantidade de Quota</th>
      <th>Valor da Quota</th>
      <th>Capital Social</th>
      <th>Nascimento</th>
      <th>Genero</th>
      <th>Estado Civil</th>
      <th>Profissão</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let forecast of forecasts">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
